@import './formul.scss';
.Overwiew {
  @include displayflex($fd: column);
  padding: clamp(10px, 2.77vw, 40px);

  .title {
    @include mp($m: 0 0 1.6666vw 0);
    @include font(
      $fm: Roboto,
      $fw: 500,
      $fs: clamp(30px, 2.4305vw, 35px),
      $c: #ffffff,
      $ta: left
    );
  }

  .table-border-divp {
    @media screen and (max-width: 600px) {
      overflow-x: auto;
    }
  }
  .table-border-div {
    @media screen and (max-width: 600px) {
      width: 90vw;
    }
    border-radius: 4px;
    border: 1.9px solid transparent;
    border-image-source: url('https://i.ibb.co/XJFmxcx/border.png');
    border-image-slice: 1;
    border-image-repeat: no-repeat;

    table {
      @include size(
        $w: clamp(420px, 94.4444vw, 1360px),
        $h: clamp(200px, 24.3055vw, 350px)
      );
      @include font(
        $fm: Roboto,
        $fw: 500,
        $fs: clamp(12px, 1.8055vw, 26px),
        $c: #ffffff,
        $ta: center
      );

      border-collapse: collapse;
      border-radius: 4px;
      background: linear-gradient(
        152.97deg,
        rgba(38, 38, 38, 0.7) 0%,
        rgba(130, 130, 130, 0.245) 100%
      );
      box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.25);

      .image-and-coin-name {
        @include displayflex();
        .img-icon {
          @include mp($m: 0 0.6944vw 0 0);
          @include size(
            $w: clamp(20px, 2.4305vw, 35px),
            $h: clamp(20px, 2.4305vw, 35px)
          );
        }
      }
      th,
      td {
        border-style: solid;
        border-width: 1px;
        border-image: linear-gradient(
            112.93deg,
            #b3b3b3 -11.55%,
            rgba(205, 205, 205, 0) 103.68%
          )
          1;
        // border-image-source: linear-gradient(270deg, #FFFFFF 0%, rgba(207, 207, 207, 0.6) 100%);
        @include size($w: clamp(64px, 18.8888vw, 272px));
      }
      th {
        border-top: none;
      }
      tr:last-child td {
        border-bottom: none;
      }
      th:first-child,
      td:first-child {
        border-left: none;
      }
      th:last-child,
      td:last-child {
        border-right: none;
      }
    }
  }
}
